.body {
   width: 1440px;
   margin: auto;
   background-color: white;
   font-family: 'Helvetica', 'Times New Roman', Times, serif;
}

.header {
   color: white;
   background-color: red;
   font-size: 20px;
   padding: 20px 600px 20px 20px;
   font-family: 'Helvetica';
}

.grid-item h2 {
   font-family: 'Helvetica';
}

.content {
   display: flex;
   justify-content: space-between;
   margin: 60px 70px 60px 70px;
}

.grid-item {
   width: 400px;
   height: 800px;
   padding: 20px;
   text-align: left;
   font-size: 20px;
   border: 5px solid #E5E000;
   border-radius: 30px;
}

.footer {
   color: white;
   background-color: red;
   font-size: 20px;
   padding: 20px 1250px 20px 20px;
   font-family: 'Helvetica'
}