body {
   color: #414141;
   background-color: #EEEEEE;
   font-size: 18px;
}

h1 {
   font: size 2em;
   font-weight: normal;
}

h2 {
   font-size: 1.6em;
}

h1,
h2,
h3,
h4,
h5 {
   font-family: Arial, Helvetica, sans-serif;
}

ul {
   list-style-type: circle;
}

ol {
   list-style-type: lower-roman;
}