* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-size: 18px;
   font-family: Helvetica;
   color: #000000;
}

a:link,
a:visited {
   color: #000000;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

.header {
   width: 100%;
   padding: 40px;

   display: flex;
   justify-content: space-between;

   position: relative;
   background: #ffffff;
}

.menu {
   margin-top: 15px;
}

.menu>li {
   margin-right: 50px;
   display: inline;
}

.menu>li:last-of-type {
   margin-right: 0;
}

.dropdown:hover .features-menu {
   display: flex;
   flex-direction: column;
   background-color: #F8BFC7;
   border-radius: 5px;
   padding-top: 60px;

   position: absolute;
   top: -25px;
   left: -30px;

   z-index: 1;
}

.features-menu {
   display: none;
}

.dropdown {
   position: relative;
}

.dropdown>span {
   z-index: 2;
   position: relative;
   cursor: pointer;
}

.features-menu li {
   list-style: none;
   border-bottom: 1px solid #FFF;
   padding: 0 40px 10px 20px;
   margin: 10px;
}

.features-menu li:last-of-type {
   border-bottom: none;
}