.container {
   padding: 100px 200px 100px 200px;
}


.border {
   display: flex;
   justify-content: center;
   font-size: 25px;
   padding: 30px;
   border: 3px solid #F8BFC7;
   border-radius: 20px;
}

.content {
   margin-top: 100px;
   margin-bottom: 100px;
   display: flex;
   justify-content: space-between;
}

.item {
   text-align: center;
}

.item>p {
   padding-top: 50px;
}

.border-flex {
   display: flex;
   justify-content: space-between;
   font-size: 25px;
   padding: 30px 100px 30px 100px;
   border: 3px solid #F8BFC7;
   border-radius: 20px;
}


.footer {
   height: 90px;
   padding: 30px;
   color: white;
   background-color: #F8BFC7;
   font-size: 30px;
   font-weight: bold;
}